*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.bt-contato {
    color: black;
    border-radius: 42px;
    background: #F3F3F3;
    padding: 1em;
}

nav {
    background-color: #1b1b1b;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    padding: 1em;
    justify-content: space-around;
    z-index: 3;
}

nav .opcoes  {
    display: flex;
    align-items: center;
    color: aliceblue;
    justify-content: center;
}

nav .opcoes.mostrar {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}



nav .opcoes a {
    color: rgb(255, 255, 255);
    padding: 1em;
    font-weight: bold;
}


nav button.menu {
    display: none;
    width: 20px;
    height: 20px;
    position: relative;
    background-color: transparent;
}

nav button.menu span {
    background-color: aquamarine;
    position: absolute;
    border-radius: 5px;
    height: 3px;
    transition: all 0.3s;
}

nav button.menu span.um {
    width: 25px;
    bottom: 4px;
    right: 0;
}

nav button.menu span.dois {
    width: 35px;
    top: 4px;
    right: 0;

}

nav button.menu.ativo span {
    background-color: rgb(249, 0, 0);
    position: absolute;
    border-radius: 5px;
    height: 3px;
}

nav button.menu.ativo span.um {
    width: 30px;
    bottom: 8px;
    right: -5px;
    transform: rotate(45deg);
}

nav button.menu.ativo span.dois {
    width: 30px;
    top: 8px;
    right: -5px;
    transform: rotate(-45deg);


}

video {
    background-color: white;
}

.section-dois {
    margin-top: -300px;
}

.titulo-section-dois {
    color: white;
    text-align: center;
    font-size: 80px;
    padding-bottom: 50px;
}



.card-section-dois {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 21px;
}

.cartao-section-dois-1 {
    background-color: #E3E3E1;
    border-radius: 20px;
    width: 388.067px;
    height: 470px;
    overflow: hidden;
    background-image: url(img-card-1.png);
    background-repeat: no-repeat;
}

.cartao-section-dois-2 {
    background-color: #E3E3E1;
    border-radius: 20px;
    width: 388.067px;
    height: 470px;
    overflow: hidden;
    background-image: url(img2-card-dois.png);
    background-repeat: no-repeat;
}

.cartao-section-dois-3 {
    background-color: #1B1B1B;
    border-radius: 20px;
    width: 388.067px;
    height: 470px;
    overflow: hidden;
    background-image: url(img3-card-dois.png);
    background-repeat: no-repeat;
}

.cartao-section-dois-3 .titulo-card-dois {
    color: white;
}

.cartao-section-dois-3 .legenda-card-dois {
    color: white;
}

.cartao-section-dois-3 a {
    color: white;
    border-radius: 55px;
    background: #151515;
    padding: 16px 31px;
    width: 229px;
    margin-top: 20px;
}

.titulo-card-dois {
    width: 293px;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
}

.legenda-card-dois {
    color: #595566;
    width: 293px;
    padding-top: 10px;
    line-height: 23px;

}


.texto-card-dois {
    margin-top: 250px;
    display: grid;
    justify-content: center;
}

.section-tres {
    margin-top: 150px;
    margin: 150px 1em 0px 1em;
}

.card-section-tres {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;    
}

.img-card-tres-mobile {
    display: none;
}

.titulo-card-tres {
    font-size: 45px;
    max-width: 420px;
}

.email {
    display: flex;
    align-items: center;
    border-top: solid 1px #D8D8D8;
    padding-top: 20px;
    border-bottom: solid 1px #D8D8D8;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top: 60px;
}

.email p {
    margin-left: 5px;
}

.fone {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.fone p {
    margin-left: 5px;
}

.texto-card-tres a {
    border-radius: 55px;
    background: #151515;
    color: white;
    padding: 15px 27px;
}

.servicos {
    background-color: #F5F5F5;
    padding-bottom: 150px;
    padding-top: 150px;
    margin-top: 150px;
}

.destaque-servicos {
    border-radius: 20px;
    background: #4EAF4E;
    text-align: center;
    color: white;
    letter-spacing: 2.32px;
    padding: 5px 16px 5px 16px;
    margin-bottom: 20px;
}

.box-titulo-sevicos {
    display: grid;
    justify-content: center;
    padding-bottom: 80px;
}

.box-destaque-servicos {
    display: flex;
    justify-content: center;
}

.box-titulo-sevicos a {
    text-align: center;
}


.titulo-sevicos {
    text-align: center;
    font-size: 45px;
    width: 700px;
}

.card-servicos {
    display: flex;
    justify-content: center;
    gap: 21px;
}

.cartao-servicos {
    background: #EBEBEB;
    border-radius: 20px;
    width: 388.067px;
    height: 530px;
    padding: 23px;
}

.texto-card-tres {
    padding-top: 29px;
}

.texto-card-tres .legenda-card-dois {
    margin-bottom: 30px;
}



@media screen and (max-width: 1000px) {
    body {
    }

    *{
        padding: 0;
        margin: 0;
        outline: none;
        border: none;
        box-sizing: border-box;
        text-decoration: none;
        list-style: none;
    }
    
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    .bt-contato {
        display: none;
    }
    
    nav {
        display: flex;
        position: fixed;
        top: 0;
        width: 100%;
        height: 80px;
        padding: 1em;
        justify-content: space-between;
        margin-top: 0;

    }
    
    nav .opcoes  {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: aliceblue;
        background-color: rgba(0, 0, 0, 0.047);
        top: 70px;
        right: 20px;
        position: fixed;
        width: 100%;
        max-width: 200px;
        border-radius: 10px;
        padding: 30px;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: all 0.3s;
    }


    nav .opcoes.mostrar {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }
    
    .opcoes a {
        color: black;
    }
    
    
    nav button.menu {
        display: flex;
        width: 20px;
        height: 20px;
        position: relative;
        background-color: transparent;
    }
    
    nav button.menu span {
        background-color: rgb(0, 0, 0);
        position: absolute;
        border-radius: 5px;
        height: 3px;
        transition: all 0.3s;
    }
    
    nav button.menu span.um {
        width: 25px;
        bottom: 4px;
        right: 0;
    }
    
    nav button.menu span.dois {
        width: 35px;
        top: 4px;
        right: 0;
    
    }
    
    nav button.menu.ativo span {
        background-color: rgb(249, 0, 0);
        position: absolute;
        border-radius: 5px;
        height: 3px;
    }
    
    nav button.menu.ativo span.um {
        width: 30px;
        bottom: 8px;
        right: -5px;
        transform: rotate(45deg);
    }
    
    nav button.menu.ativo span.dois {
        width: 30px;
        top: 8px;
        right: -5px;
        transform: rotate(-45deg);
    
    
    }

    .video {

    
    }

    .section-dois {
        margin-top: 0;
    }

    .titulo-card-dois {
        width: 293px;
        font-size: 25px;
        font-style: normal;
        font-weight: 300;
    }
    
    .legenda-card-dois {
        color: #595566;
        width: 293px;
        padding-top: 10px;
        line-height: 23px;
    
    }
    
    .titulo-section-dois {
        color: rgb(0, 0, 0);
        text-align: center;
        font-size: 25px;
        font-weight: 700;
        width: 100%;
        padding: 50px 10px 50px 10px;
    }

    .cartao-section-dois-1 {
        overflow: visible;
        padding: 1em;
    }

    .cartao-section-dois-2 {
        overflow: visible;
        padding: 1em;

    }

    .cartao-section-dois-3 {
        overflow: visible;
        padding: 1em;
    }

    .card-section-dois {
        margin: 0;
        flex-wrap: nowrap;
        overflow-x: scroll;
        justify-content: flex-start;
        width: 100%;

    }

    .card-section-tres {
        display: grid;
    }


    .img-card-tres-mobile {
        display: block;
        max-width: 350px;

    }

    .img-card-tres-web {
        display: none;
    }

    .email {
        width: 100%;
    }
    

    .texto-card-tres {
        width: 100%;
        padding: 0px 20px 0px 20px;
    }

    .titulo-card-tres {
        font-size: 25px;
        max-width: 420px;
    }

    .section-tres {
        margin-top: 150px;
        margin: 150px 20px 0px 20px;
    }

    .card-servicos {
        flex-wrap: nowrap;
        overflow-x: scroll;
        justify-content: flex-start;
        width: 100%;
        gap: 21px;
    }

    .titulo-sevicos {
        text-align: center;
        font-size: 25px;
        width: 100%;
        padding: 0 20px 0 20px;
    }
    
    
    
}
