*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --f1: clamp(0.6rem, 1vw, 0.8rem);
    --f2: clamp(0.8rem, 1vw, 1.0rem);
    --f3: clamp(1.0rem, 1vw, 1.2rem);
    --f4: clamp(1.2rem, 1vw, 1.5rem);
    --f5: clamp(1.5rem, 1vw, 2.5rem);
    --f6: clamp(2rem, 1vw, 3.5rem);
    --f7: clamp(4.0rem, 1vw, 5.5rem);
  }

body {
    font-family: Arial, Helvetica, sans-serif;
}

.bt-contato {
    color: black;
    border-radius: 42px;
    background: #F3F3F3;
    padding: 1em;
}

.logo img {
  filter: brightness(0) saturate(100%) invert(98%) sepia(3%) saturate(339%) hue-rotate(295deg) brightness(119%) contrast(91%);
}

nav {
    background-color: #1b1b1b;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    padding: 1em;
    justify-content: space-around;
    z-index: 3;
}

nav .opcoes  {
    display: flex;
    align-items: center;
    color: aliceblue;
    justify-content: center;
}

nav .opcoes.mostrar {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}



nav .opcoes a {
    color: rgb(255, 255, 255);
    padding: 1em;
    font-weight: bold;
}


nav button.menu {
    display: none;
    width: 20px;
    height: 20px;
    position: relative;
    background-color: transparent;
}

nav button.menu span {
    background-color: aquamarine;
    position: absolute;
    border-radius: 5px;
    height: 3px;
    transition: all 0.3s;
}

nav button.menu span.um {
    width: 25px;
    bottom: 4px;
    right: 0;
}

nav button.menu span.dois {
    width: 35px;
    top: 4px;
    right: 0;

}

nav button.menu.ativo span {
    background-color: rgb(249, 0, 0);
    position: absolute;
    border-radius: 5px;
    height: 3px;
}

nav button.menu.ativo span.um {
    width: 30px;
    bottom: 8px;
    right: -5px;
    transform: rotate(45deg);
}

nav button.menu.ativo span.dois {
    width: 30px;
    top: 8px;
    right: -5px;
    transform: rotate(-45deg);


}

video {
    background-color: white;
}

.section-dois {
    margin-top: -300px;
}

.titulo-section-dois {
    color: white;
    text-align: center;
    font-size: 80px;
    padding-bottom: 50px;
}



.card-section-dois {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 21px;
}

.cartao-section-dois-1 {
    background-color: #E3E3E1;
    border-radius: 20px;
    width: 388.067px;
    height: 470px;
    overflow: hidden;
    background-image: url(img-card-1.png);
    background-repeat: no-repeat;
}

.cartao-section-dois-2 {
    background-color: #E3E3E1;
    border-radius: 20px;
    width: 388.067px;
    height: 470px;
    overflow: hidden;
    background-image: url(img2-card-dois.png);
    background-repeat: no-repeat;
}

.cartao-section-dois-3 {
    background-color: #1B1B1B;
    border-radius: 20px;
    width: 388.067px;
    height: 470px;
    overflow: hidden;
    background-image: url(img3-card-dois.png);
    background-repeat: no-repeat;
}

.cartao-section-dois-3 .titulo-card-dois {
    color: white;
}

.cartao-section-dois-3 .legenda-card-dois {
    color: white;
}

.cartao-section-dois-3 a {
    color: white;
    border-radius: 55px;
    background: #151515;
    padding: 16px 31px;
    width: 229px;
    margin-top: 20px;
}

.titulo-card-dois {
    width: 293px;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
}

.legenda-card-dois {
    color: #595566;
    width: 293px;
    padding-top: 10px;
    line-height: 23px;

}


.texto-card-dois {
    margin-top: 250px;
    display: grid;
    justify-content: center;
}

.section-tres {
    margin-top: 150px;
    margin: 150px 1em 0px 1em;
}

.card-section-tres {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;    
}

.img-card-tres-mobile {
    display: none;
}

.titulo-card-tres {
    font-size: 45px;
    max-width: 420px;
}

.email {
    display: flex;
    align-items: center;
    border-top: solid 1px #D8D8D8;
    padding-top: 20px;
    border-bottom: solid 1px #D8D8D8;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top: 60px;
}

.email p {
    margin-left: 5px;
}

.fone {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.fone p {
    margin-left: 5px;
    background-color: transparent;
}

.texto-card-tres a {
    border-radius: 55px;
    background: #151515;
    color: white;
    padding: 15px 27px;
}

.servicos {
    background-color: #F5F5F5;
    padding-bottom: 150px;
    padding-top: 150px;
    margin-top: 150px;
}

.destaque-servicos {
    border-radius: 20px;
    background: #4EAF4E;
    text-align: center;
    color: white;
    letter-spacing: 2.32px;
    padding: 5px 16px 5px 16px;
    margin-bottom: 20px;
}

.box-titulo-sevicos {
    display: grid;
    justify-content: center;
    padding-bottom: 80px;
}

.box-destaque-servicos {
    display: flex;
    justify-content: center;
}

.box-titulo-sevicos a {
    text-align: center;
}


.titulo-sevicos {
    text-align: center;
    font-size: 45px;
    width: 700px;
}

.card-servicos {
    display: flex;
    justify-content: center;
    gap: 21px;
}

.cartao-servicos {
    background: #EBEBEB;
    border-radius: 20px;
    width: 388.067px;
    height: 530px;
    padding: 23px;
}

.texto-card-tres {
    padding-top: 29px;
}

.texto-card-tres .legenda-card-dois {
    margin-bottom: 30px;
}

.servicos-dois {
    display: grid;
    justify-content: center;
    align-items: center;
    background-image: url(fundo-servicos-dois.png);
    background-repeat: no-repeat;
    padding-top: 200px;
    padding-bottom: 200px;
}

.box-titulo-servicos-dois {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 50px;
}

.box-titulo-servicos-dois a {
    color: black;
    background-color: white;
    width: 80%;
    text-align: center;
    border-radius: 30px;
    padding: 31px 44px;
    font-size: 25px;
    font-weight: 600;
}





.card-servicos-dois {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    gap: 20px;
    max-width: 980px;
    padding-left: 20px;
    padding-top: 20px;
    margin-top: 0;
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-radius: 20px;

}

.legenda-card {
    position: absolute;
    left: 20px;
    bottom: 20px;
    font-size: 25px;
    color: white;
}

.plus {
    position: absolute;
    right: 20px;
    top: 10px;
}

.card-container {
    width: 300px;
    height: 300px;
    position: relative;
    border-radius: 10px;
  }
  
  .card-container::before {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
  }
  
  .card {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    overflow: hidden;
  }
  
  .card .img-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
    transition: scale 0.6s, rotate 0.6s, filter 1s;
  }
  
  .card .img-content svg {
    width: 50px;
    height: 50px;
    fill: #e8e8e8;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    color: #e8e8e8;
    padding: 20px;
    line-height: 1.5;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(50px);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card .content .heading {
    font-size: 32px;
    font-weight: 700;
  }
  
  .card:hover .content {
    opacity: 1;
    transform: translateY(0);
  }
  
  .card:hover .img-content {
    scale: 2.5;
    rotate: 30deg;
    filter: blur(20px);
  }
  
  .card:hover .img-content svg {
    fill: transparent;
  }

    
  body {
    background-color: white;
}


.box-depoimentos {
  padding-top: 100px;
}

section.depoimentos {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: white;
    padding: 80px 0 30px 0;
  }
  section.depoimentos .texto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
    padding: 0 60px;
  }

  .div-titulo-depoimentos {
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin: 2px;
  }

  .titulo-depoimentos {
    color: rgb(4, 4, 4);
    text-align: center;
    width: 700px;
  }

  .titulo-depoimentos span {
    color: #4EAF4E;
    font-weight: bold;
  }


  .item p {
      border-radius: 20px;
      background: #FDFDFD;  
      padding: 28px 30px;
  }


  section.depoimentos .texto p {
    line-height: 1.5;
    margin: 10px 0 0 0;
    width: 100%;
    max-width: 400px;
  }

  section.depoimentos .texto .tag {
    display: flex;
    align-items: center;
    margin: 20px 0 0 0;
  }
  section.depoimentos .texto .tag img {
    width: 100%;
    max-width: 40px;
  }
  section.depoimentos .texto .tag .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 0 10px;
  }

  h3 {
    margin: 0;
  }

  section.depoimentos .slide {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    position: relative;
    overflow: hidden;
  }
  section.depoimentos .slide .sombra {
      display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 100%;
    background: linear-gradient(0deg, #d96608d7, #EDF6FC);
    background: -webkit-linear-gradient(0deg, #edf6fc00, #7f1f108f);
    z-index: 2;
  }
  section.depoimentos .slide .sombra.dois {

  }
  section.depoimentos .slide .itens {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    animation: itensDepoimentos 240s linear infinite;
  }
  @keyframes itensDepoimentos {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(-1500px, 0);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  section.depoimentos .slide .itens .item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    width: 300px;
    min-width: 400px;
    background-color: #F2F2F2;
    margin: 0 20px 0 0;
    border-radius: 10px;
  }
  section.depoimentos .slide .itens .item .nome {
    display: flex;
    align-items: center;
  }
  section.depoimentos .slide .itens .item .nome .foto {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin: 0 15px 0 0;
  }

  section.depoimentos .slide .itens .item .nome .info h4 {
    font-family: var(--semibold);
    font-size: var(--f1);
    color: #4EAF4E;
    margin: 5px 0 0 0;
  }


  .aspas {
      position: relative;
      left: 260px;
      top: 30px;
      margin: 0;
  }


  

  section.depoimentos .slide .itens .item p {
    font-family: var(--light);
    font-size: var(--f3);
    color: var(--cor-preto);
    line-height: 1.5;
  }

  .time {
    padding-top: 200px;
  }

  .time img {
    width: 100%;
  }

  .sobre {
    padding: 100px 0 100px 0;
  }

  .card-sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }

  .titulo-um-sobre {
    display: grid;
    justify-content: center;
    padding-bottom: 150px;
  }

  .bt-sobre {
    display: flex;
    justify-content: center;
  }

  .titulo-um-sobre a {
    text-align: center;
    letter-spacing: 2.32px;
    color: white;
    border-radius: 20px;
    background: #4EAF4E;
    padding: 5px 17px 5px 17px;
    font-size: 16px;

  }


  .titulo-um-sobre h2  {
    text-align: center;
    font-size: 45px;
    width: 750px;
    padding-top: 20px;
  }

  .fundo-sobre {
    position: relative;
    left: 50px;
    top: -80px;
  }

  .texto-sobre {
    width: 430px;

  }

  .destaque-sobre {
    color: #8A8A8A;
  }

  .titulo-sobre {
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .legenda-sobre {
    line-height: 26px;
    color: #595566;


  }

  .form {
    padding: 200px 0 200px 0;
  }

  .card-fomr {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
  }

  .texto-fomr {
    width: 400px;
  }

  .card-fomr .texto-fomr h2 {
    font-size: 45px;
    color: #181818;
    padding-bottom: 10px;
  }

  .legenda-form {
    color: #595566;
  }

  .fone-fomr {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .fone-fomr p {
    padding-left: 10px;
  }
  
  .loc-form {
    display: flex;
    align-items: center;
  }

  .loc-form p {
    padding-left: 10px ;
  }


  footer {
    background-image: url(img-footer.png);
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #151515;
  }

  .img-footer {
    display: flex;
    align-self: center;
    gap: 50px;
  }

  .img-footer .img {
    filter: brightness(0) saturate(100%) invert(98%) sepia(3%) saturate(339%) hue-rotate(295deg) brightness(119%) contrast(91%);
  }

  .line {
  }

  .card-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
  }

  .cartao-footer-1 {
    padding-left: 200px;
    border-left: solid 1px #707070;

  }

  .cartao-footer .endereco {
    color: white;
    width: 230px;
    line-height: 30px;
    padding-top: 20px;
    padding-bottom: 30PX;
  }

  .cartao-footer .bt-footer {
    color: black;
    border-radius: 42px;
    background: #FFF;
    padding: 1em;
  }

  .copy {
    text-align: center;
    border-top: solid 1px #707070;
    width: 70%;
    padding-top: 20px;
    color: white;
    margin-top: 50px;
  }

  .box-copy {
    display: flex;
    justify-content: center;
  }

  ul {
    padding-top: 10px;
    color: white;
    padding-left: 20px;
  }

  ul li  a{
    line-height: 30px;
    color: white;
  }

  .card-footer {
  }

  .cartao-footer h4 {
    color: white;
    padding-bottom: 10px;
    font-size: 20px;
  }

  .destaque-footer {
    background-color: #FFCC4A;
    position: absolute;
    border-radius: 5px;
    height: 3px;
    transition: all 0.3s;
    width: 32px;

  }

  


@media screen and (max-width: 1000px) {
    body {
    }

    *{
        padding: 0;
        margin: 0;
        outline: none;
        border: none;
        box-sizing: border-box;
        text-decoration: none;
    }
    
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    .bt-contato {
        display: none;
    }
    
    nav {
        display: flex;
        position: fixed;
        top: 0;
        width: 100%;
        height: 80px;
        padding: 1em;
        justify-content: space-between;
        margin-top: 0;

    }
    
    nav .opcoes  {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: aliceblue;
        background-color: rgba(0, 0, 0, 0.047);
        top: 70px;
        right: 20px;
        position: fixed;
        width: 100%;
        max-width: 200px;
        border-radius: 10px;
        padding: 30px;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: all 0.3s;
    }


    nav .opcoes.mostrar {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }
    
    .opcoes a {
        color: black;
    }
    
    
    nav button.menu {
        display: flex;
        width: 20px;
        height: 20px;
        position: relative;
        background-color: transparent;
    }
    
    nav button.menu span {
        background-color: rgb(0, 0, 0);
        position: absolute;
        border-radius: 5px;
        height: 3px;
        transition: all 0.3s;
    }
    
    nav button.menu span.um {
        width: 25px;
        bottom: 4px;
        right: 0;
    }
    
    nav button.menu span.dois {
        width: 35px;
        top: 4px;
        right: 0;
    
    }
    
    nav button.menu.ativo span {
        background-color: rgb(249, 0, 0);
        position: absolute;
        border-radius: 5px;
        height: 3px;
    }
    
    nav button.menu.ativo span.um {
        width: 30px;
        bottom: 8px;
        right: -5px;
        transform: rotate(45deg);
    }
    
    nav button.menu.ativo span.dois {
        width: 30px;
        top: 8px;
        right: -5px;
        transform: rotate(-45deg);
    
    
    }

    .video {

    
    }

    .section-dois {
        margin-top: 0;
    }

    .titulo-card-dois {
        width: 293px;
        font-size: 25px;
        font-style: normal;
        font-weight: 300;
    }
    
    .legenda-card-dois {
        color: #595566;
        width: 293px;
        padding-top: 10px;
        line-height: 23px;
    
    }
    
    .titulo-section-dois {
        color: rgb(0, 0, 0);
        text-align: center;
        font-size: 25px;
        font-weight: 700;
        width: 100%;
        padding: 50px 10px 50px 10px;
    }

    .cartao-section-dois-1 {
        overflow: visible;
        padding: 1em;
    }

    .cartao-section-dois-2 {
        overflow: visible;
        padding: 1em;

    }

    .cartao-section-dois-3 {
        overflow: visible;
        padding: 1em;
    }

    .card-section-dois {
        margin: 0;
        flex-wrap: nowrap;
        overflow-x: scroll;
        justify-content: flex-start;
        width: 100%;

    }

    .card-section-tres {
        display: grid;
    }


    .img-card-tres-mobile {
        display: block;
        max-width: 350px;

    }

    .img-card-tres-web {
        display: none;
    }

    .email {
        width: 100%;
    }
    

    .texto-card-tres {
        width: 100%;
        padding: 0px 20px 0px 20px;
    }

    .titulo-card-tres {
        font-size: 25px;
        max-width: 420px;
    }

    .section-tres {
        margin-top: 150px;
        margin: 150px 20px 0px 20px;
    }

    .card-servicos {
        flex-wrap: nowrap;
        overflow-x: scroll;
        justify-content: flex-start;
        width: 100%;
    }

    .titulo-sevicos {
        font-size: 25px;
        width: 100%;
        padding: 0 20px 0 20px;
    }

    .servicos {
        margin-top: 100px;
    }


    .card-servicos-dois {
        flex-wrap: nowrap;
        overflow-x: scroll;
        justify-content: flex-start;
        width: 100%;
        padding: 50px;
    }


    .servicos-dois {
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 0;
        padding-bottom: 0;
        height: 800px;
    }

    .box-titulo-servicos-dois {
        margin-top: 50px;
        margin-bottom: 0px;
    }

    .box-titulo-servicos-dois a {
        width: 100%;
        border-radius: 20px;
        padding: 16px;
        font-size: 25px;
    }

    .box-titulo-servicos-dois {
        padding: 0px 10px 0px 10px;
    }

    .box-titulo-servicos-dois a span {
        display: none;

    }

    .card-container {
      width: 300px;
      height: 300px;
      position: relative;
      border-radius: 10px;
    }



    section.depoimentos {
        flex-direction: column-reverse;
        padding: 60px 0;
        justify-content: center;
      }
      section.depoimentos .texto {
        width: 100%;
        padding: 0 30px 30px 30px;
      }
      section.depoimentos .texto h2 {
        font-size: var(--f5);
      }
      section.depoimentos .texto p {
        font-size: var(--f2);
      }
      section.depoimentos .slide {
        width: 100%;
      }
      section.depoimentos .slide .sombra {
        display: none;
        width: 100px;
        background: linear-gradient(0deg, #edf6fc00, #7f1f1000);
        background: -webkit-linear-gradient(0deg, #7f1f1000, #7f1f108f);
      }
      section.depoimentos .slide .sombra.dois {
        display: none;
        right: auto;
        left: 0;
        background: linear-gradient(0deg, #7f1f1000, #edf6fc00);
        background: -webkit-linear-gradient(0deg, #7f1f108f, #edf6fc00);
      }
      section.depoimentos .slide .itens .item {
        padding: 25px;
        width: 280px;
        min-width: 280px;
        margin: 0 15px 0 0;
      }
      section.depoimentos .slide .itens .item .nome {
        display: flex;
        align-items: center;
      }
      section.depoimentos .slide .itens .item .nome .foto {
        width: 40px;
        height: 40px;
      }
      section.depoimentos .slide .itens .item .nome .info h3 {
        font-size: var(--f2);
      }

      section.depoimentos .slide .itens .item .estrelas img {
        max-width: 15px;
        margin: 0 5px 0 0;
      }
      section.depoimentos .slide .itens .item p {
        font-size: var(--f2);
      }
  
      .box-depoimentos {
        padding-top: 100px;
      }

      .titulo-depoimentos {
        width: 100%;
        font-size: 32px;
      } 
     
      
      .aspas {
        position: relative;
        left: 170px;
        top: 20px;
        width: 40px;
    }


    .item p {
        border-radius: 20px;
        background: #FDFDFD;  
        padding: 28px 30px;
    }

    .time {
        padding-top: 100px;
      }

      .sobre {
        padding: 100px 10px 100px 10px;
      }
    
      .card-sobre {
        display: grid;
        gap: 50px;
        padding-top: 50px;
      }
    
      .titulo-um-sobre {
        padding-bottom: 0px;
      }
    
      .bt-sobre {
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
      }
    
    
      .titulo-um-sobre h2 {
        font-size: 25px;
        width: 100%;
        padding-top: 0;
      }
    
      .fundo-sobre {
        position: relative;
        left: 300px;
        top: 200px;
        display: none;
      }
    
      .texto-sobre {
        width: 100%;
        text-align: center;
        padding: 0 1em 0 1em;

      }

      .img-sobre img {
        width: 100%;
      }

      .img-footer {
        border-bottom: solid 1px #707070;
        padding-bottom: 30px;
      }
    
    
      .titulo-sobre {
        font-size: 25px;
        padding-top: 10px;
        padding-bottom: 20px;
      }

      .card-footer {
        display: grid;
        justify-content: left;
        align-items: center;
        gap: 50px;
        padding-left: 50px;
      }

      .line {
        display: none;
      }

      footer {
        background-image: none;
        background-repeat: no-repeat;
        padding-top: 100px;
        padding-bottom: 50px;
        background-color: #151515;
      }

      .box-footer {
      }

      ul {
        padding-top: 10px;
        color: white;
      }

      .copy {
        font-size: 12px;
      }

      .form {
        padding: 0px 0 50px 0;
      }
    
      .card-fomr {
        display: grid;
        align-items: center;
        justify-content: center;
        gap: 50px;
        padding: 1em;
      }
    
      .texto-fomr {
        width: 100%;
      }
    
      .card-fomr .texto-fomr h2 {
        font-size: 45px;
        color: #181818;
        padding-bottom: 10px;
      }
    
      .legenda-form {
        color: #595566;
      }
    
      .fone-fomr {
        display: none;
      }
    
      
      .loc-form {
        display: none;
      }

    
    







    
    
    
}
